<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yandex Disk Viewer</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
<h1>Yandex Disk Viewer</h1>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li class="{% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<form method="get" id="files-form">
    <input type="text" name="public_key" placeholder="Enter public key" value="{% if public_key %}{{ public_key }}{% endif %}">
    <select name="file_type">
        <option value="">Все файлы</option>
        <option value="image" {% if file_type_filter == "image" %}selected{% endif %}>Изображения</option>
        <option value="application" {% if file_type_filter == "application" %}selected{% endif %}>Документы</option>
        <option value="audio" {% if file_type_filter == "audio" %}selected{% endif %}>Аудио</option>
        <option value="video" {% if file_type_filter == "video" %}selected{% endif %}>Видео</option>
    </select>
    <button type="submit">View Files</button>
</form>

{% if current_path != '/' %}
    <p><a href="?public_key={{ public_key }}&path={{ parent_path }}">⬅ Назад</a></p>
{% endif %}

{% if error_message %}
    <p style="color: red;">{{ error_message }}</p>
{% elif not public_key %}
    <p>Введите публичный ключ для просмотра файлов.</p>
{% elif files %}
    {% if files|length == 0 %}
        <p>Эта директория пуста.</p>
    {% else %}
    <form method="post" action="{% url 'download_selected' %}">
        {% csrf_token %}
        <ul>
        {% for file in files %}
            {% if file.type == 'dir' %}
            <li>
                <a href="?public_key={{ public_key }}&path={{ file.path|urlencode }}">{{ file.name }}/</a>
            </li>
            {% else %}
            <li>
                <input type="checkbox" name="selected_files" value="{{ file.file }}">
                {{ file.name }} ({{ file.mime_type }})
                <a href="{% url 'download' %}?file_url={{ file.file|urlencode }}" download>Скачать</a>
            </li>
            {% endif %}
        {% endfor %}
        </ul>
        <button type="submit">Скачать выбранные</button>
    </form>
    {% endif %}
{% else %}
    <p>{% if file_type_filter %}Не найдено файлов выбранного типа{% else %}Ничего не найдено{% endif %}.</p>
{% endif %}
</body>
</html>
